@import url("/static/bootstrap/css/bootstrap.css");

@import url("/static/css/event.css");


.inline { display:inline;}






/* Header */

.valign {vertical-align:middle;}

div.attendee {float:left;
              margin:2%;
              width:40%; 
          }





