{% extends "header.html" %}

{% block content %}
<h2>{{ user.username }}'s friends</h2>
{% if object.userprofile.image %}
{% endif %}
<div>
  <ul class="nav nav-pills">
    <li><a href="{% url profile slug=user.username %}">profile</a></li>
    <li class="active"><a href="#">friends</a></li>
    <li><a href="#">events</a></li>
  </ul>
</div>
{% for friend in friends %}
<div class="well row-fluid">
  <div class="span3"><a href="{% url profile slug=friend.user.username %}" > <img  src="{{ friend.get_picture }}" /> </a>
  </div>
  <div class="profile-info span5">
    <h2>{{ friend.user.get_full_name}}</h2>
    <br>
    <dl class="dl-horizontal">
      <dt>Username</dt> 
      <dd>{{ friend.user.username }}</dd>
      <dt>City</dt> 
      <dd>{{ friend.city }}</dd>
      <dt>Country</dt> 
      <dd>{{ friend.country }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h3>Contact me:</h3>
    <br>
    <dl class="dl-horizontal">
      <dt>Facebook</dt> 
      <dd>j.a.l.letts</dd>
      <dt>Twitter</dt> 
      <dd>@jal08</dd>
      <dt>tumblr</dt> 
      <dd>genericfixture</dd>
    </dl>
  </div>

</div>

{% endfor %}
{% endblock %}
