{% extends "header.html" %}

{% block content %}
<h2>{{ user.username }}'s friends</h2>
{% if object.userprofile.image %}
{% endif %}
<div>
  <ul class="nav nav-pills">
    <li><a href="{% url profile slug=user.username %}">profile</a></li>
    <li class="active"><a href="#">friends</a></li>
    <li><a href="{% url profile_events slug=user.username %}">meets</a></li>
  </ul>
</div>
{% if friends %}
{% for friend in friends %}
<div class="well pull-left" style="width:40%; margin:2%;">
  <div class="pull-left" style="width:30%;"><a href="{% url profile slug=friend.user.username %}" > <img  src="{{ friend.get_picture }}" /> </a>
  </div>
  <div class="profile-info pull-right" style="width:65%;">
    <a href="{% url profile slug=friend.user.username %}" > <h3 style="margin:0;">{{ friend.user.get_full_name}}</h3></a>
    <table style="border-collapse: separate; border-spacing: 8px;">
      <tr><td><b>City</b></td><td>{{ friend.city }}</td></tr>
      <tr><td><b>Country</b></td><td>{{ friend.country }}</td></tr>
    </table>
  </div>

</div>

{% endfor %}
{% else %}
<div class="hero-unit">
  <h1>This user currently has no friends :(</h1>
  <p> Become their friend today!</p>
  <a href="#" class="btn btn-primary disabled">Submit friend request</a>
</div>
{% endif %}
{% endblock %}
