{% extends "base.html" %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />

{% endblock %}



{% block header %}
<div class="row-fluid">
  <div class="span2"></div>

  <div class="span8">

    <div class="row-fluid">

      <div class="span4"></div>
      <div class="span4"><h1 class="text-center">MeetApp</h1></div>
      <div class="span4">
        <ul class="inline" style="height:auto;">
          <li class=""><a href="{% url dashboard %}">Dashboard</a></li>
          <li class=""><a href="{% url profile slug=user.username %}">My Profile</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="span2"></div>
</div>

{% endblock %}

